<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ARTISTER</title>
  <link rel="stylesheet" href="css/style (2).css" type="text/css">
  <script src="js/main.js"></script>

</head>
<body>

<!doctype html>
<html lang="en">
  <head>
    <title>ARTISTER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" href="main.css"> --}}
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light nav-bg fixed-top py-2"
      id="mainNav">
      <div class="container">
          <a class="navbar-brand text-white"href="#">ARTISTER</a>
          <button class="navbar-toggler navbar-toggler-right"type="button"
          data-toggle="collapse"data-target="#myNavbar"aria-controls="myNavbar"aria-expanded="false"aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"id="myNavbar">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">About  </a></li>
                <li class="nav-item"><a class="nav-link" href="Genre">Genre  </a></li>
                <li class="nav-item"><a class="nav-link" href="abcd">Immediate Donation </a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
                <li class="nav-item"><a class="nav-link" href="Premiere">Login</a></li>
            </ul>
        </div>
      </div>
        </nav>

      <section id="hero" class="d-flex justify-content-center align-items-center">
          <div id="heroCarousel"class="container carousel carousel-fade"
          data-ride="carousel">

        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__backInDown">
                    <span>CONTRIBUTE</span>
                </h2>
                <p class="animate__animated animate__fadeInUp">
                    Divij Goyal
                </p>
                <a href="donate"class="btn hero-btn animate__animated animate__backInUp">
                    Donate
                </a>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__backInDown">
                    CONTRIBUTE
                </h2>
                <p class="animate__animated animate__fadeInUp">
                    Rishwik Reddy
                </p>
                <a href="donate"class="btn hero-btn animate__animated animate__backInUp">
                    Donate
                </a>
            </div>
        </div>

        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__backInDown">
                    CONTRIBUTE
                </h2>
                <p class="animate__animated animate__fadeInUp">
                    Gahan Lal
                </p>
                <a href="donate"class="btn hero-btn animate__animated animate__backInUp">
                    Donate
                </a>
            </div>
        </div>
        <a class="carousel-control-prev"href="#heroCarousel"role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon fas fa-chevron-left"aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    
    </a>
    <a class="carousel-control-next"href="#heroCarousel"role="button"
        data-slide="next">
        <span class="carousel-control-next-icon fas fa-chevron-right"aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    
    </a>
        
        </div>
      </section>

      <section class="mt-5">
          <div class="container">
              <div class="row justify-content-center mb-5">
                  <div class="col-md-8 text-center heading-section">
                      <span>About Us</span>
                      <h2 class="mb-3">Our Mission | Vision & Plans</h2>
                  </div>
              </div>
              
              <div class="row tabs mt-4">
                  <div class="col-md-4">
                      <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                          <li class="nav-item text-left">
                              <a class="nav-link active py-4"data-toggle="tab"
                              href="#about-1">About</a>
                          </li>
                          <li class="nav-item text-left">
                            <a class="nav-link py-4"data-toggle="tab"
                            href="#about-2">Premiere</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4"data-toggle="tab"
                            href="#about-3">Goal</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4"data-toggle="tab"
                            href="#about-4">Our Vision</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4"data-toggle="tab"
                            href="#about-5">Investments</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link py-4"data-toggle="tab"
                            href="#about-6">Our Plans</a>
                        </li>
                      </ul>
                  </div>
              
                  <div class="col-md-8">
                      <div class="tab-content">
                          <div class="tab-pane container p-0 active"id="about-1">
            <div class="img"style="background-image: url(https://www.pictureframesexpress.co.uk/blog/wp-content/uploads/2020/05/7-Tips-to-Finding-Art-Inspiration-Header-1024x649.jpg);"></div>
            <h3><a href="#"></a></h3>
            <p><div class="wrapper">
                <div class="typing-demo">
                  This website is created for new artist in the industy.
                </div>
            </div></p>
                          </div>
                        
             <div class="tab-pane container p-0"id="about-2">
                <div class="img"style="background-image: url(https://dlcdnrog.asus.com/rog/media/1637784966993.jpg);"></div>
             <h3><a href="#"></a></h3>
               <p><div class="wrapper">
                <div class="typing-demo">
                  We have various types of genre to select from.
                </div>
            </div></p>
                    </div>
         
            <div class="tab-pane container p-0"id="about-3">
                <div class="img"style="background-image: url(https://cdn.shopify.com/s/files/1/0070/7032/files/AMgoal-setting_HEADER.jpg?v=1579623952&width=1024);"></div>
             <h3><a href="#"></a></h3>
               <p><div class="wrapper">
                <div class="typing-demo">
                  We want to help and raise money for the artist in need.
                </div>
            </div></p>
                    </div>
            
            <div class="tab-pane container p-0"id="about-4">
                <div class="img"style="background-image: url(images/about-4.jpg);"></div>
             <h3><a href="#"></a></h3>
               <p></p>
                    </div>
        
            <div class="tab-pane container p-0"id="about-5">
                <div class="img"style="background-image: url(images/about-5.jpg);"></div>
             <h3><a href="#"></a></h3>
               <p></p>
                    </div>
         
            <div class="tab-pane container p-0"id="about-6">
                <div class="img"style="background-image: url(images/about-6.jpg);"></div>
             <h3><a href="#"></a></h3>
               <p></p>
                    </div>
           
                      </div>
                  </div>
                 
                          
                      
                  </div>
              </div>
          </div>
      </section>
      
      <section class="mt-3">
          <div class="stories">
              <div class="container">
                  <div class="section-title text-center">
                      <h3>Live Works</h3>
                      <p></p>
                  </div>
                
                  <div class="row">
                      <div class="col-md-4">
                          <div class="story-box overlay shadow">
                              <div class="story-icon">
                                  <i class="fas fa-film"></i>
                              </div>
                              <h2>Action</h2>
                              <p>9,00,000 Collected</p>
                          </div>
                      </div>
                   
                      <div class="col-md-4">
                        <div class="story-box overlay shadow">
                            <div class="story-icon">
                                <i class="fas fa-child"></i>
                            </div>
                            <h2>Drama</h2>
                            <p>10,00,000 Collected</p>
                        </div>
                    </div>
                  
                    <div class="col-md-4">
                        <div class="story-box overlay shadow">
                            <div class="story-icon">
                                <i class="fas fa-atom"></i>
                            </div>
                            <h2>Sci-fi</h2>
                            <p>8,00,00,000 Collected</p>
                        </div>
                    </div>
                  
                  </div>
              </div>
          </div>
      </section>

        <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6Ug3LCmMkmM?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>

      <div class="count">
        <h1 id="headline">Countdown</h1>
        <div id="countdown">
          <ul>
            <li><span id="days"></span>days</li>
            <li><span id="hours"></span>Hours</li>
            <li><span id="minutes"></span>Minutes</li>
            <li><span id="seconds"></span>Seconds</li>
          </ul>
        </div>
    </div>

<section class="team">
    <div class="container">
        <div class="section-title">
            <h2 class="text-center">Our Team</h2>
        </div>
        <br><br><br><br>
        <div class="row" style="display: flex; justify-content: center;" >
           
           
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="team-1">
                    <div class="pic">
                        <img src="RIVI.jpeg"class="img-fluid"alt="">
                    </div>
                    <div class="team-info">
                        <h4>Rishwik</h4>
                        <span></span>
                        <div class="social">
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="team-1">
                    <div class="pic">
                        <img src="DIVIJ.jpeg"class="img-fluid"alt="">
                    </div>
                    <div class="team-info">
                        <h4>Divij</h4>
                        <span></span>
                        <div class="social">
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="team-1">
                    <div class="pic">
                        <img src="Gaan.png"class="img-fluid"alt="">
                    </div>
                    <div class="team-info">
                        <h4>Gahan</h4>
                        <span></span>
                        <div class="social">
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
                



                    </div>

            </div>
        </div>
    </div>
    </form>
    </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="donation-btn text-center">
                <a href="" class="btn btn-don">Donate Now</a>
                <div<html>
                    <body>
                    <h2>Support our Artist</h2>
                      <p>A simple way to help out people in need</p>
                    <div id="intro">
                      <h3>Donate via Credit Card</h3>
                      <a href="#" class="btn btn-primary" data-featherlight="#form">Donate</a> 
                      <hr/>  
                      <h3>Donate via Paypal</h3>
                      <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=YOUR_MERCHANT_ID"
                        data-button="donate"
                        data-amount="1.00"
                        async
                    ></script>
                    <div id="hidden-element">
                      <div id="form">
                        <script src="https://cdn.donately.com/dntly-core/1.4/core.min.js" data-donately-id="act_ba7d12ab27bb" data-stripe-publishable-key="pk_test_rf2QE7E6grzUBoQfN8OppOpy"></script>
                      </div>
                    </div>
                    </body>  
                    </html>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>




<meta charset="utf-8">
    <title>Landing bot with BotEngine.ai</title>
</head>
<body>
    <script type="text/javascript">
        window.__be = window.__be || {};
        window.__be.id = "59cd403b8187680007244146"; 

        var BE_API = window.BE_API || {};

        // open chat widget window after load
        BE_API.onLoad = function () {
            BE_API.openChatWidget();
        };

        (function() {
            var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
            be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.botengine.ai/widget/plugin.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
        })();
    </script>

    <style type="text/css">
        #botengine-chat {
            width: 100% !important;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


</body>
</html>
